.dialogue-box {
    background-color: #28292d;
    height: fit-content;
    width: 570px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -285px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dialogue-box-content {
    display: flex;
    flex-direction: column;
    padding: 70px;
    align-items: center;
}

.dialogue-box-text {
    color:#ffffff;
    font-size:24px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}

.user-icon-xl {
    font-size: 72pt;;
}

.caption-wrapper {
    padding: 5px;
    margin-bottom: 50px;
}

.username {
    margin-bottom: 5px;
}

.email {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
}

.organization-list-wrapper {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
}

.organization-tab {
    width: 440px;
    height: 80px;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding:20px;
    display: flex;
    align-items: center;
}

.organization-logo {
    width: 50px;
    height: 50px;
    background-color: #C8102E;
    border-radius: 10px;
    margin-right: 25px;
}

.link-text {
    margin-top: 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    text-decoration: underline;
}