@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000000;
  margin: auto;
  overflow: hidden;
  height: 100%;
}

body#white-background {
  background-color: #ffffff !important;
}

body#charcoal-background{
  background-color: #282828;
}

/* LAYOUT **/

.flexbox {
  display: flex;
}

.blockbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.contents-center {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* HEADER AND MENUS **/
.huskerly-header {
  width: auto;
  height: 80px;
  padding: 10px;
  background-color: #C8102E;
  font-size: 26px;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #A4A4A4;
}

.settings-sidebar {
  height: 100vh;
  width: 120px;
  background-color: #000000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #A4A4A4;
}

.user-sidebar-wrapper {
  border-bottom: 1pt solid #FFFFFF;
  margin-bottom: 10px;
}

.icon-sidebar {
  margin-bottom: -15px;
  margin-top: 5px;
  font-size: 50px;
  padding: 10px;
  color: #A4A4A4;
}

.icon-sidebar.white {
  color: #FFFFFF;
}

.icon-sidebar.active {
  color: #C8102E;
}

.icon-sidebar.hidden {
  display: none;
}

.subheader-bar {
  height: 80px;
  width: 100%;
  background-color: #282828;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 1px solid #A4A4A4;
  color: #FFFFFF;
}

.subheader-label {
  float: left;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  margin-right: 10px;
}

.subheader-icon {
  margin-right: 10px;
  font-size: 24px;
}

/* COMPONENTS **/
.content-box {
  width: 100%;
  height:80%; 
  background-color: #282828;
  border: solid 1px #A4A4A4;
  border-radius: 10px;
  padding: 25px;
  overflow-y: scroll !important;
}

.content-box::-webkit-scrollbar {
  display: none;
}

.content-box-wrapper {
  padding: 25px;
  width: 100%;
  height: 100%;
}

.list {
  padding: 10px;
  width: 100%;
}

.list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: fit-content;
  color: #FFFFFF;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.list-item-button-wrapper {
  position: absolute;
  right: 0px;
}

.list-item-text-wrapper {
  display: flex;
  align-items: baseline;
}

/* SPLASH PAGE **/

.splash-logo {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.splash-header {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-weight: bold;
  color: #C8102E;
  margin-bottom: 5px;
}

.splash-body {
  font-family: "Azeret Mono", monospace;
  font-weight: normal;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

/* BUTTONS **/

.wd-small {
  width: 120px !important;
  font-size: 16px !important;
  padding: 5px 10px !important;
}

.wd-medium {
  width: 330px !important;
}

.wd-large {
  width: 380px !important;
}

.wd-xlarge {
  width: 530px !important;
}

.button-red {
  text-decoration: none;
  background-color: #C8102E;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
}

.button-black {
  text-decoration: none;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
}

.button-black {
  text-decoration: none;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
}

.button-black:disabled {
  background-color: #919191; 
  cursor: not-allowed;
  opacity: 0.6;
}

.button-white {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
}

.button-white-outline {
  text-decoration: none;
  background-color: transparent;
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  border: solid 2.5pt #FFFFFF;
  padding: 10px 20px;
  width: fit-content;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.spacing-small {
  margin-top: 10px;
}

.spacing-medium {
  margin-top: 20px;
}

.spacing-large {
  margin-top: 50px;
}

/* TEXT **/

.caption-text {
  font-weight: 600;
  font-size: 20px;
}

/* INPUT FIELDS **/
.input-field {
  height: 50px;
  margin-top: 5px;
  background-color: #FFFFFF;
  border: 1.5pt solid #A4A4A4;
  border-radius: 10px;
  padding: 0px 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.input-field.charcoal {
  background-color: #282828 !important;
  border-color: #A4A4A4 !important;
  color:#FFFFFF;
}

.input-field.charcoal:disabled {
  background-color: #919191;
  border-color: #848484;
  opacity: 0.6;
}

.input-field-label.charcoal {
  color:#FFFFFF;
  font-weight: 500;
  display: flex;
}

.input-field-label-icon {
  margin-right: 10px;
}

/* GROUP SIDE BAR */
.gsb-background {
  background-color: #282828;
  max-width: max-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid #A4A4A4;
}

.gsb-header-title {
  font-weight: 700;
  font-size: 26px;
  color: #FFFFFF;
  line-height: 35px;
}

.gsb-header-members {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  padding-top: 10px;
}

.gsb-header {
  width: 275px;
  height: fit-content;
  border: 1px solid #A4A4A4;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gsb-content {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  padding-top: 25px;
}

.gsb-collapsible-team {
  color: white;
  cursor: pointer;
  background-color: #282828;
  padding: 11px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
}

.gsb-icon-collapsible {
  position: absolute;
  right:0;
}

.gsb-icon {
  margin-right: 10px;
}

.gsb-collapsed-content {
  padding: 0 22px;
  display: none;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
}

.gsb-opened-content {
  padding: 0 22px;
  display: block;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}